<!DOCTYPE html>
<html>
  <head>
    <title>WhistleSheet</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="container">
      <div id="header">
        <h1 id="title">WhistleSheet</h1>
      </div>
      <div id="title-container">
        <h2>Title</h2>
        <input type=text placeholder="My Masterpiece" name=octave>
      </div>
      <br>
      <div id="bpm-container">
        <h2>BPM</h2>
        <input type=number value=135 name=bpm>
      </div>
      <br>
      <br>
      <div id="record-container">
        <h2>Record</h2>
        <div id="record-button" class="btn btn-default btn-danger">Record</div>
        <div id="convert-button" class="btn btn-default btn-success">Convert</div>
      </div>
      <br>
    </div>
    <link href='http://fonts.googleapis.com/css?family=Bitter|Lobster' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="static/js/recorderjs/recorder.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </body>
</html>
