<!DOCTYPE html>
<html>
  <head>
    <title>WhistleSheet</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="jumbotron">
      <h1 id="title">WhistleSheet</h1>
    </div>
    <div class="container">
      <table class="table">
        <tr><td>BPM</td><td><input type=number value=135 name=bpm></td></tr>
        <tr><td>Octave</td><td><input type=number value=5 name=octave></td></tr>
        <tr>
          <td>Audio</td>
          <td>
            <form action="" method=post enctype=multipart/form-data>
              <div id="audio-submit">
                <input type=file name=file>
                <input type=submit class="btn btn-default btn-sm" value=Upload>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td>Record</td>
          <td>
            <div id="record-button" class="btn btn-default btn-danger">Record</div>
            <div id="convert-button" class="btn btn-default btn-success">Convert</div>
          </td>
        </tr>
      </table>
      <br>
    </div>
    <script type="text/javascript" src="static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </body>
</html>
